

.thumbnail {
    width: 350px;
    margin: 10px;
    height: 285px;
  }

.thumbnailImage {
  margin: -10% 0 -11% 0;
  width: 100%;
  -webkit-user-drag: none;

}

.thumbnaill-container{
  position: relative;
  overflow: hidden;
  height: 195px;
  width: 350px;
}

.status{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: rgba(39, 39, 39, 0.733);
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 3px;
}

.ch-info{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.ch-image{
  height: 50px;
  width: 50px;
  object-fit: contain;
  border-radius: 25px;
  margin: 0 5px;
  -webkit-user-drag: none;
}

.title{
  display:flex;
  height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (max-width: 1040px){
  .thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10px;
  }

.thumbnailImage {
  margin: -10% 0 -11% 0;
  width: 100%;
  -webkit-user-drag: none;

}

.thumbnaill-container{
  position: relative;
  overflow: hidden;
  height: auto;
  width: 90%;
}

.ch-info{
  width: 100%;  
  justify-content: flex-start;
}

.title{
  font-size: 1.2rem;
  padding-bottom: 30px;
}
}